In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip install --upgrade pip

In [4]:
import mysql.connector as connector

In [ ]:
db_cfg = {
    'user': 'coursera',
    'password': 'Password1',
    'host': '127.0.0.1',
    'database': 'LittleLemonDB',
    'raise_on_warnings': True
}

try:
    # Using the `connect` method of the mysql_connector module to establish a connection
    connection = connector.connect(**db_cfg)

    # If connection is successful, print a success message
    print("Database connection successful!")
except connector.Error as err:
    # If an error occurs print the error message
    print(f"Error: {err}")

In [ ]:
    # Creating a cursor object using the connection
    cursor = connection.cursor()
    
    # SQL query to show all tables in the database
    query = "SHOW TABLES"
    
    # Executing the query
    cursor.execute(query)
    
    # Fetching the results
    tables = cursor.fetchall()  # This will return a list of tables present in the database
    
    # Printing the list of tables
    for (table_name,) in tables:
        print(table_name)

In [ ]:
# Execute the query
cursor.execute("""
SELECT concat(Customers.FirstName, ' ', Customers.LastName) , Customers.ContactNumber, Orders.TotalCost
FROM Customers
  JOIN Bookings ON Bookings.CustomerId = Customers.CustomerId
  JOIN Orders ON Orders.BookingId = Bookings.BookingId
WHERE Orders.TotalCost > 60
""")

# Fetch all results
results = cursor.fetchall()

# Print the results
for result in results:
    full_name, contact_details, total_cost = result
    print(f"Name: {full_name}, Contact: {contact_details}, Total Cost: ${total_cost}")

In [45]:
cursor.close();

In [ ]:
if (connection.is_connected()):
    connection.close()
    print("Database connection closed.")